The dataset is obtained from TalkingData AdTracking competition. The goal of the competition is to predict if a user will download an app after clicking through an ad.

In [1]:
import pandas as pd
import numpy as np

click_data = pd.read_csv('train_TalkingData_AdTracking.csv', parse_dates=['click_time'])
click_data.head()

       ip  app  device  ...          click_time      attributed_time is_attributed
0   89489    3       1  ... 2017-11-06 15:13:23                  NaN             0
1  204158   35       1  ... 2017-11-06 15:41:07  2017-11-07 08:17:19             1
2    3437    6       1  ... 2017-11-06 15:42:32                  NaN             0
3  167543    3       1  ... 2017-11-06 15:56:17                  NaN             0
4  147509    3       1  ... 2017-11-06 15:57:01                  NaN             0

[5 rows x 8 columns]

In [2]:
# Add new columns for timestamp features day, hour, minute, and second
clicks = click_data.copy()
clicks['day'] = clicks['click_time'].dt.day.astype('uint8')
clicks

             ip  app  device  ...      attributed_time  is_attributed day
0         89489    3       1  ...                  NaN              0   6
1        204158   35       1  ...  2017-11-07 08:17:19              1   6
2          3437    6       1  ...                  NaN              0   6
3        167543    3       1  ...                  NaN              0   6
4        147509    3       1  ...                  NaN              0   6
...         ...  ...     ...  ...                  ...            ...  ..
2300556   32457    2       1  ...                  NaN              0   9
2300557   20266   14       1  ...                  NaN              0   9
2300558   49383   12       2  ...                  NaN              0   9
2300559   34894   12       1  ...                  NaN              0   9
2300560  232000    9       1  ...                  NaN              0   9

[2300561 rows x 9 columns]

In [3]:
clicks['year'] = clicks['click_time'].dt.year
clicks['month'] = clicks['click_time'].dt.month
clicks['hour'] = clicks['click_time'].dt.hour
clicks['minute'] = clicks['click_time'].dt.minute
clicks['second'] = clicks['click_time'].dt.second

In [4]:
clicks

             ip  app  device  os  channel  ...  year month  hour  minute  second
0         89489    3       1  13      379  ...  2017    11    15      13      23
1        204158   35       1  13       21  ...  2017    11    15      41       7
2          3437    6       1  13      459  ...  2017    11    15      42      32
3        167543    3       1  13      379  ...  2017    11    15      56      17
4        147509    3       1  13      379  ...  2017    11    15      57       1
...         ...  ...     ...  ..      ...  ...   ...   ...   ...     ...     ...
2300556   32457    2       1  19      477  ...  2017    11    15      59      59
2300557   20266   14       1  13      446  ...  2017    11    15      59      59
2300558   49383   12       2  17      178  ...  2017    11    16       0       0
2300559   34894   12       1  15      145  ...  2017    11    16       0       0
2300560  232000    9       1  19      134  ...  2017    11    16       0       0

[2300561 rows x 14 columns]