In this tutorial, we predict the house price by using the most simple machine learning model, called Decision Tree

***Note:*** The step of capturing patterns from data is called **fitting** or **training** the model. The data used to fit the model is called the **training data**. The point at the bottom where we make a prediction is called a **leaf**.

In [1]:
import pandas as pd

data = pd.read_csv("home_data_train.csv")
data

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal    208500
1        2          20       RL  ...        WD         Normal    181500
2        3          60       RL  ...        WD         Normal    223500
3        4          70       RL  ...        WD        Abnorml    140000
4        5          60       RL  ...        WD         Normal    250000
...    ...         ...      ...  ...       ...            ...       ...
1455  1456          60       RL  ...        WD         Normal    175000
1456  1457          20       RL  ...        WD         Normal    210000
1457  1458          70       RL  ...        WD         Normal    266500
1458  1459          20       RL  ...        WD         Normal    142125
1459  1460          20       RL  ...        WD         Normal    147500

[1460 rows x 81 columns]

In [2]:
# print a summary of the data in Melbourne data
data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [3]:
# get the average values of lot size
import numpy as np

avg_lot_size = round(np.mean(data['LotArea']))
avg_lot_size

10517

In [4]:
# check how old is the newest home (current year - the date in which it was built)
from datetime import date
current_year = date.today().year

newest_home_age = current_year - max(data['YearBuilt'])
newest_home_age

10

In [5]:
melb_data = pd.read_csv("melb_data.csv")
melb_data

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]

To choose variables/columns, we'll need to see a list of all columns in the dataset. That is done with the columns property of the DataFrame

In [6]:

melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Since it has missing value, we can eliminate the missing data or 'NaN' value by using drop.

In [7]:
# dropna drops missing values (think of na as "not available")
melb_data = melb_data.dropna(axis=0)
melb_data

             Suburb          Address  ...             Regionname Propertycount
1        Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2        Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0
4        Abbotsford      55a Park St  ...  Northern Metropolitan        4019.0
6        Abbotsford     124 Yarra St  ...  Northern Metropolitan        4019.0
7        Abbotsford    98 Charles St  ...  Northern Metropolitan        4019.0
...             ...              ...  ...                    ...           ...
12205    Whittlesea    30 Sherwin St  ...      Northern Victoria        2170.0
12206  Williamstown      75 Cecil St  ...   Western Metropolitan        6380.0
12207  Williamstown    2/29 Dover Rd  ...   Western Metropolitan        6380.0
12209       Windsor  201/152 Peel St  ...  Southern Metropolitan        4380.0
12212    Yarraville  54 Pentland Pde  ...   Western Metropolitan        6543.0

[6196 rows x 21 columns]

# **Selecting The Prediction Target**
we can pull out a variable with dot-notation. This single column is stored in a Series, which is broadly like a DataFrame with only a single column of data.

We'll use the dot notation to select the column we want to predict, which is called the prediction target. By convention, the prediction target is called **y**.

In [8]:
y = melb_data.Price
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

# **Choosing "Features"**
The columns that are inputted into our model (and later used to make predictions) are called "features." In our case, those would be the columns used to determine the home price. Sometimes, you will use all columns except the target as features. Other times you'll be better off with fewer features.

In [9]:
melb_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
melb_features

['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [10]:
x = melb_data[melb_features]
x

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
4          4       1.0     120.0  -37.80720   144.99410
6          3       2.0     245.0  -37.80240   144.99930
7          2       1.0     256.0  -37.80600   144.99540
...      ...       ...       ...        ...         ...
12205      3       2.0     972.0  -37.51232   145.13282
12206      3       1.0     179.0  -37.86558   144.90474
12207      1       1.0       0.0  -37.85588   144.89936
12209      2       1.0       0.0  -37.85581   144.99025
12212      6       3.0    1087.0  -37.81038   144.89389

[6196 rows x 5 columns]




1.   Define: What type of model will it be? A decision tree? Some other type of model? Some other parameters of the model type are specified too.
2.   Fit: Capture patterns from provided data. This is the heart of modeling.
3.   Predict: Just what it sounds like.
4. Evaluate: Determine how accurate the model's predictions are.

In [11]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(x, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [12]:
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [13]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [14]:
from sklearn.metrics import mean_absolute_error

predicted_price = melbourne_model.predict(x)
mean_absolute_error(y, predicted_price)

1115.7467183128902

The measure we just computed can be called an "in-sample" score. We used a single "sample" of houses for both building the model and evaluating it. This practice should be avoided because the learned pattern doesn't hold when the model sees new data, the model would be very inaccurate when used in practice. To solve this problem, use excluded data split from train to test the model's accuracy on data it hasn't seen before. This data is called **validation data**.

In [15]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(x, y, random_state = 0)

melbourne_model = DecisionTreeRegressor()
# Fit model
melbourne_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

273949.4176888315

The MAE is so huge! The model can be improved by different ways.

The **overfitting** is where a model matches the training data almost perfectly, but does poorly in validation and other new data. When a model fails to capture important distinctions and patterns in the data, so it performs badly even in training data, that is called **underfitting**. This can be controlled by using `max_leaf_nodes` .

In [0]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [20]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 100, 500, 1000, 2500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  385696
Max leaf nodes: 50  		 Mean Absolute Error:  279794
Max leaf nodes: 100  		 Mean Absolute Error:  269191
Max leaf nodes: 500  		 Mean Absolute Error:  261718
Max leaf nodes: 1000  		 Mean Absolute Error:  262426
Max leaf nodes: 2500  		 Mean Absolute Error:  271006
Max leaf nodes: 5000  		 Mean Absolute Error:  271996

Here is a short solution with a dict comprehension.
The lesson gives an example of how to do this with an explicit loop.

In [22]:
max_leaf_nodes = [5, 50, 100, 500, 1000, 2500, 5000]
scores = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in max_leaf_nodes}
best_tree_size = min(scores, key=scores.get)
best_tree_size

500

# **Random Forest**
The random forest uses many trees, and it makes a prediction by averaging the predictions of each component tree. It generally has much better predictive accuracy than a single decision tree and it works well with default parameters.

In [23]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

207190.6873773146